@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
    --primary: #4e73df;
    --info: #36b9cc;
    --danger: #e74a3b;
    --light: #f8f9fc;
    --success: #1cc88a;
    --warning: #f6c23e;
    --secondary: #858796;
    --dark: #5a5c69;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: var(--light);
/*    background: url('') no-repeat;
    background-size: cover;
    background-position: center;*/
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: var(--dark);
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    position: relative;
    font-size: 18px;
    color: var(--dark);
    font-weight: 500;
    text-decoration: none;
    margin-left: 40px
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--dark);
    transition: .3s;
}

.navbar a:hover::before {
    width: 100%;
}

.wrapper {
    width: 90%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: var(--dark);
    border-radius: 10px;
    padding: 30px 40px;
    margin-bottom: 15px;
    margin-left: 5%;
    margin-right: 5%;
}

#s1 {
    margin-top: 85px;
}

.btnflex {
    display: none;
    justify-content: space-around;
    align-items: center;
}

.wrapper .btn {
    width: 250px;
    height: 70px;
    background: var(--primary);
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: var(--light);
    font-weight: 600;
}