@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

:root {
    --primary: #4e73df;
    --info: #36b9cc;
    --danger: #e74a3b;
    --light: #f8f9fc;
    --success: #1cc88a;
    --warning: #f6c23e;
    --secondary: #858796;
    --dark: #5a5c69;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: var(--light);
}

.wrapper {
    margin-top: 15px;
    width: 90%;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color: var(--dark);
    border-radius: 10px;
    padding: 30px 40px;
    margin-bottom: 15px;
    margin-left: 5%;
    margin-right: 5%;
}

#head {
    margin-bottom: 50px;
}

a {
    text-decoration: none;
}

.btnflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper .btn {
    width: 250px;
    height: 70px;
    background: var(--primary);
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: var(--light);
    font-weight: 600;
}
