/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template

 
    Created on : 04 Dec 2023, 07:24:30
    Author     : saifullahmohamed

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e6e8ed;
    color: #666666;
    font-family: "Poppins", sans-serif;
}

.header {
}

.material-icons-outlined {
    vertical-align: middle;
    line-height: 1px;
}

.text-primary {
    color: #666666;
}

.text-blue {
    color: #246dec;
}

.text-red {
    color: #cc3c43;
}

.text-green {
    color: #367952;
}

.text-orange {
    color: #f5b74f;
}

.font-weight-bold {
    font-weight: 600;
}

.grid-container {
    display: grid;
    grid-template-columns: 260px 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 3fr;
    grid-template-areas:
        "sidebar header header header"
        "sidebar main main main";
    height: 100vh;
}


 ---------- HEADER ---------- 

}

    position: relative;
    grid-area: header;
    height: 70px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0 30px;
    box-shadow: 0 6px 7px -4px rgba(0, 0, 0, 0.2);
}

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 4%;
    width: 320px;
    margin-top: 10px;
    background-color: white;
    z-index: 100;
    display: none;
}

.sub-menu {
    background: #fff;
    padding: 20px;
    margin: 10px;
}

.user-info {
    display: flex;
    align-items:  center;
}

.user-info h3 {
    font-weight: 500;
}

.sub-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p {
    width: 100%;
}

.sub-menu-link i {
    background: #e5e5e5;
    padding: 8px;
    border-radius: 50%;
    margin-right: 15px;
    font-weight: 600;
}

.sub-menu-link span {
    font-size: 22px;
    font-weight: 600;
    transition: 0.5s
}

.sub-menu-link:hover span {
    transform: translateX(5px);
}

.sub-menu-link:hover p {
    font-weight: 600;

#sidebar {
}

}

.sidebar-brand {
}

.sidebar-list {
}

.sidebar-list-item {
}

.sidebar-list-item:hover {
}

.menu-icon {
    display: none;
.main-container {
}

.main-title {
}

.main-cards {
}

.card {
}

}

.card-inner {
    display: flex;
}

 ---------- SIDEBAR ---------- 
}

}

.charts {
}

.charts-card {
}

.chart-title {
}

@media screen and (min-width: 768px) {
    #sidebar {
        width: 250px;
        left: 0;
    }

<<<<<<< HEAD
    background-color: #373833;
    color: white;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -100%;
    transition: 0.3s;
    overflow-y: auto;
=======
    grid-area: sidebar;
    height: 100%;
    background-color: #21232d;
    color: #9799ab;
    overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
>>>>>>> origin/ike2
}*/
