body {
    text-align: center;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    width: 150px;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style-type: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: #000;
    text-decoration: none;
    font-size: 13px;
    font-family: Roboto Mono, monospace;
    font-weight: bold;
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
}

.nav-links ul li:hover::after {
    width: 100%;
    transition: 1s;
}

button {
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
    margin-right: 11px;
    margin-left: 11px;
    width: 20%;
    padding: 30px 0px 30px 0px;
    color: black;
    background: transparent;
    border: solid 2px black;
    transition: 0.5s;
    border-radius: 10px;
    display: inline;
}

button:hover {
    background-color: black;
    color: white;
}

h2 {
    font-family: verdana;
    font-weight: bold;
}

#fl {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

label {
    display: block;
    font-family: Roboto Mono, monospace;
}

.close {
    position: absolute;
    width: 30px;
    padding: 1px 6px;
    display: block;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
    border-radius: 5px;
    right: 0;
}

.close:hover{
    color: red;
    cursor: pointer;
}

.innerf {
    position: relative;
    background-color: #fff;
    border: solid 2px #000;
    border-radius: 10px;
    width: 50%;
    margin: 5% auto 15% auto;
    padding: 40px;
    text-align: left;
    box-sizing: border-box;
}

input[type=submit] {
    padding: 10px;
    color: white;
    box-sizing: border-box;
    margin: 0% auto 0% auto;
    text-align: center;
    background-color: blue;
    border: solid 2px black;
    width: 150px;
    height: 40px;
}

input[type=submit]:hover {
    opacity: 0.7;
}

input{
    width: 100%;
}